.profile__occupation {
    font-family: 'Inter', Arial;
    font-size: 18px;
    line-height: 1.22;
    font-weight: 400;
    color: white;
    margin: 16px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 336px;

}

@media screen and (max-width: 770px) {
    .profile__occupation {
        font-size: 14px;
        line-height: 1.21;
        margin: 14px auto 36px;
        max-width: 282px;
    }
    
}