.profile__add {
    border-style: none;
    text-decoration: none;
    outline: none;
    background-color: #000;
    background: url(../../../images/button_add.svg) no-repeat center;
    background-size: 22px 22px;
    max-width: 150px;
    max-height: 50px;
    align-self: center;
    border: 2px solid #fff;
    box-sizing: border-box;
    padding: 23px 73px;
    transition: opacity .1s linear;
    cursor: pointer;
}

.profile__add:hover {
    opacity: 0.6;
}

@media screen and (max-width: 770px) {
    .profile__add {
        max-width: 282px;
        padding: 23px 139px;
        background-size: 16px 16px;
    }
}

