.header__link {
    font-family: 'Inter', Arial;
    font-size: 18px;
    line-height: 1.22;
    font-weight: 400;
    color: white;
    margin: 6px 0 0;
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    .header__link {
        margin-right: 27px;
        margin-bottom: 31px;
        font-size: 14px;
    }
    
}