.profile__edit {
    border-style: none;
    background: url(../../../images/button_edit.svg) no-repeat center;
    background-size: 24px 24px;
    background-color: #000;
    width: 24px;
    height: 24px;
    margin-left: 18px;
    align-self: center;
    box-sizing: border-box;
    transition: opacity 0.1s linear;
    cursor: pointer;
}

.profile__edit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 740px) {
    .profile__edit {
        width: 18px;
        height: 18px;
        background-size: 18px 18px;
        margin-left: 10px;
    }
}