.profile__title {
    display: flex;
    flex-direction: row;
    align-self: center;
}


@media screen and (max-width: 770px) {
    .profile__title{
        margin-top: 22px;
        max-width: 282px;
    }
}