.element__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0;
    max-width: 100%;
    align-self: center;
    padding-top: 25px;
    padding-bottom: 31px;
    padding-right: 15px;
    padding-left: 21px;
}
