.registration__input {
    margin-top: 30px;
    padding: 0 0 13px;
    border: none;
    outline: none;
    border-bottom: 2px solid #CCCCCC;
    background-color: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}


.registration__input:first-of-type {
    margin-top: 0;
}

.registration__input:last-of-type {
    margin-bottom: 30px;
}

.registration__input:focus {
    outline: 1px solid rgba(255, 255, 255, 0.8);
}
