.registration__submit-button {
    border: none;
    border-radius: 2px;
    max-width: 358px;
    width: 100%;
    min-height: 50px;
    background-color: white;
    align-self: center;
    margin-top: 216px;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #000;
    transition: opacity 0.1s linear;
    cursor: pointer;
}

@media screen and (max-width: 470px) {
    .registration__submit-button {
        font-size: 16px;
    }
};
